In [2]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# create initial dataframe. contains data on all companies in fortune 500.

df = pd.read_csv('fortune500.csv', index_col=0)

In [4]:
df.head(12)

                    Name   Revenue  Rank
Year
2021             Walmart  559151.0     1
2021              Amazon  386064.0     2
2021               Apple  274515.0     3
2021                 CVS  268706.0     4
2021  UnitedHealth Group  257141.0     5
2021  Berkshire Hathaway  245510.0     6
2021            McKesson  231051.0     7
2021   AmerisourceBergen  189893.9     8
2021            Alphabet  182527.0     9
2021         Exxon Mobil  181502.0    10
2021                AT&T  171760.0    11
2021              Costco  166761.0    12

In [5]:
df.dtypes

Name        object
Revenue    float64
Rank         int64
dtype: object

In [6]:
# create limited data frame. contains data on only companies ranked 1-10 each year.

top10 = df.loc[df['Rank'] <= 10]

In [7]:
top10.head(12)

                    Name   Revenue  Rank
Year
2021             Walmart  559151.0     1
2021              Amazon  386064.0     2
2021               Apple  274515.0     3
2021                 CVS  268706.0     4
2021  UnitedHealth Group  257141.0     5
2021  Berkshire Hathaway  245510.0     6
2021            McKesson  231051.0     7
2021   AmerisourceBergen  189893.9     8
2021            Alphabet  182527.0     9
2021         Exxon Mobil  181502.0    10
2020             Walmart  523964.0     1
2020              Amazon  280522.0     2

In [8]:
# count of times each company has appeared in top 10.

top10['Name'].value_counts()

Exxon Mobil           67
General Motors        63
Ford Motor            62
General Electric      59
Mobil                 43
IBM                   42
Texaco                36
Chevron               29
AT&T                  28
Chrysler              28
Walmart               27
Gulf Oil              25
U.S. Steel            15
DuPont                14
Altria Group          13
Berkshire Hathaway    11
Citigroup             10
Conoco                 9
Apple                  9
Esmark                 8
CVS                    7
Amoco                  6
UnitedHealth Group     6
McKesson               6
ITT                    6
AIG                    5
Bank of America        4
Amazon                 4
Valero Energy          3
AmerisourceBergen      3
Hewlett-Packard        3
Phillips 66            3
Bethlehem Steel        2
Armour                 2
Boeing                 2
Enron                  2
Verizon                2
Fannie Mae             2
Sears                  1
Atlantic Richfield     1
Alphabet               1
J.P. Morgan            1
Name: Name, dtype: int64